---
import MainHead from "../components/MainHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
// import { Icon } from "astro-icon";
import Form from "../components/Form.jsx";
---

<html lang="en">
  <head>
    <MainHead
      title="Resume | Booker King"
      description="Booker King resume page"
    />
  </head>
  <Body>
    <Nav />

    <div class="flex-1 w-full pt-[64px]"></div>

    <main class="flex h-screen w-full items-center justify-center">
      <Form client:load>
        <form
          action="https://send.pageclip.co/ba294F9sjQ7FkNDk7hdZIyDRjjNcVokD/Portfolio-contact"
          class="flex flex-col min-w-[50vw] h-1/2 gap-4 font-mono"
          method="post"
        >
          <input
            class="border-2 dark:border-none border-current rounded-md p-3"
            type="email"
            placeholder="email"
            name="email"
          />
          <textarea
            class="border-2 dark:border-none border-current rounded-md p-2"
            placeholder="message"
            name="message"></textarea>
          <div class="flex w-full justify-end ">
            <button
              class="bg-blue-400 px-3 py-2 dark:bg-slate-900 text-zinc-900 dark:text-zinc-300 w-full lg:w-1/3 border-white border rounded-md font-mono text-lg"
              type="submit"
            >
              submit
            </button>
          </div>
        </form>
        <!-- <script>
          // import type { request } from "http";

          // const form = document.querySelector("form");
          // form.addEventListener("submit", (e) => {
          //   e.preventDefault();
          //   const name = form.formName.value;
            // const email = form.email.value;
            // const message = form.message.value;
            // const data = {
            //   name: name,
            //   email: email,
            //   message: message,
            // };
          //   console.log(JSON.stringify(name));
          //   fetch(`/sendform`, {
          //     method: "POST",
          //     body: name,
          //     mode: "no-cors",
          //     headers: {
          //       "Content-Type": "application/json",
          //     },
          //   })
          //     .then((res) => {
          //       console.log(res.json());
          //       if (res.status === 200) {
          //         alert("Message sent!");
          //       } else {
          //         alert("Message failed to send.");
          //       }
          //     })
          //     .catch((err) => {
          //       console.log(err);
          //     });
          // });
        </script> -->
      </Form>
    </main>
    <Footer />
  </Body>
  <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>

  <link
    rel="stylesheet"
    href="https://s.pageclip.co/v1/pageclip.css"
    media="screen"
  />
</html>
