---
import MainHead from "../components/MainHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <MainHead
      title="Contact | Jeanine White"
      description="Contact Booker King, a web developer and designer based in North Carolina."
    />
  </head>
  <Body>
    <Nav />
    <h1>Contact</h1>
    <Footer />
  </Body>
</html>
