---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Main from "../layouts/main.astro";
import Hero from "../components/Hero.astro";
import Featured from "../components/Featured.astro";
---

<html lang="en">
  <head>
    <MainHead
      title="Booker King | Portfolio"
      description="Booker King: Developer, Creative-Thinker, and Problem-Solver"
    />
  </head>
  <Main>
    <main class="mx-auto">
      <Hero />
      <Featured />
    </main>
  </Main>
</html>
