---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Featured from "../components/Featured.astro";
import Aboutme from "../components/Aboutme.astro";
// import PortfolioPreview from "../components/PortfolioPreview.astro";
import Body from "../components/Body.astro";
---

<html lang="en">
  <head>
    <MainHead
      title="Booker King | Portfolio"
      description="Booker King: Developer, Creative-Thinker, and Problem-Solver"
    />
  </head>
  <Body>
    <Nav />
    <main class="mx-auto">
      <Hero />
      <Featured />
	  <!-- <Aboutme /> -->
    </main>
    <Footer />
  </Body>
</html>

