---
import PortfolioPreview from "../components/PortfolioPreview.astro";
import MainHead from "@components/MainHead.astro";
import Main from "../layouts/main.astro";
const projects = (await Astro.glob("./project/**/*.md"))
  .filter(({ frontmatter }) => !!frontmatter.publishDate)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  );
---

<html lang="en">
  <head>
    <MainHead
      title="Booker King | Projects"
      description="Booker King: portfolio of projects"
    />
  </head>
  <Main>
    <section class="pt-[56px] flex flex-col mx-auto max-w-4xl sm:max-w-fit p-2 ">
      <div class="flex 1"></div>
      <h1
        class="text-center font-mplus text-xl md:text-xl lg:text-2xl p-2 font-semibold sm:mt-10 sm:pt-[64px]"
      >
        All Projects
      </h1>
      <div class="grid mb-5">
        {projects.map((project) => <PortfolioPreview project={project} />)}
      </div>
    </section>
  </Main>
  <style>
    .grid {
      display: grid;
      grid-gap: 3rem;
    }
  </style>


</html>
