---
import MainHead from "../components/MainHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { Icon } from "astro-icon";
import Resbox from "../components/Resbox.jsx";
---

<html lang="en">
  <head>
    <MainHead
      title="Resume | Booker King"
      description="Booker King resume page"
    />
  </head>
  <Body>
    <Nav />
    <style>
      /* @media (max-width: 764px) {
        #resume-container {
          flex-direction: column;
          max-width: 75%;
        }
      } */
      /* [astro-icon="server"] {
        color: blue;
      } */
    </style>
    <div class="flex-1 w-full pt-[64px]"></div>
    <main
      class="flex justify-center items-center h-screen w-full mx-auto my-[8vh] lg:my-0"
    >
      <section class="w-full flex h-full justify-center items-center">
        <Resbox client:load>
          <!-- <div
            id="resume-container"
            class="flex w-full max-h-[75%] h-screen justify-center gap-3 flex-wrap"
          > -->
          <div
            class="border-4 rounded-sm border-solid px-5 p-4 mx-auto w-5/6 lg:basis-2/4 h-[80%]"
          >
            <div class="flex justify-between pt-5 content-center">
              <h4 class="text-4xl font-medium font-kosugi">Frontend</h4>
              <Icon
                name="ion:desktop-outline"
                stroke-width={"20px"}
                height={"50px"}
                width={"50px"}
              />
            </div>
            <ul class="mt-5 leading-10 text-xl font-mplus p-2">
              <li>React</li>
              <li>JavaScript ES6+</li>
              <li>jQuery</li>
              <li>Bootstrap</li>
              <li>HTML</li>
              <li>CSS</li>

              <li>Material Ui</li>
            </ul>
          </div>
          <div
            class="border-4 rounded-sm border-solid p-4 mx-auto w-5/6 lg:basis-2/4 h-[80%]"
          >
            <div class="flex justify-between pt-5 content-center">
              <h4 class="text-4xl font-medium font-kosugi items-end">
                Backend
              </h4>
              <Icon
                name="ion:server"
                stroke-width={"20px"}
                height={"50px"}
                width={"50px"}
              />
            </div>
            <ul class="text-xl leading-10 list-none font-mplus mt-5 p-2">
              <li>Express</li>
              <li>Node</li>
              <li>MongoDB</li>
              <li>MySQL</li>
              <li>SQL</li>
              <li>NoSQL</li>
              <li>GraphQL</li>
            </ul>
          </div>
          <!-- </div> -->
        </Resbox>
      </section>
    </main>
    <Footer />
  </Body>
</html>
