<div class="section">
    <h3 class="sectionTitle">About me</h3>
    <p class="font-mplus">
      <span>Hello!</span> I’m Jeanine, and this is my website. It was made using{
        " "
      }
      <a
        href="https://github.com/withastro/astro"
        target="_blank"
        rel="nofollow"
      >
        Astro</a
      >, a new way to build static sites. This is just an example template
      for you to modify.
    </p>
    <p>
      <a href="/about">Read more</a>
    </p>
  </div>