---
const currentYear = new Date().getFullYear();
---

<footer
  class=" p-4 text-center "
>
  
    <button type="submit" class="send-email text-zinc-500 hover:text-orange-300 cursor-pointer"> Get in touch</button>
  
</footer>
<script client:visible>
  const sendEmail = document.querySelector(".send-email");

  sendEmail.addEventListener("click", (event) => {
    event.preventDefault();
    const email = "mailto:	btking1@my.waketech.edu";
    window.location.href = email;
  });
</script>
