---
import { Icon } from "astro-icon";
---

<footer class="p-4 text-center flex items-center justify-center">
  <button
    type="submit"
    class="contact text-zinc-500 hover:text-blue-400 cursor-pointer flex items-end justify-baseline gap-1"
  >
    <p>Get in Touch</p>
    <Icon
      name="ion:ios-email"
      stroke-width={"15px"}
      height={"20px"}
      width={"20px"}
    />
    <!-- <span class="font-mplus text-lg">📧</span> -->
  </button>
</footer>
<script>
  const contactpage = document.querySelector(".contact");

  contactpage.addEventListener("click", (event) => {
    event.preventDefault();

    window.location.href = "/contact";
  });
</script>
