---
import MemoryChip from "./icons/memoryChip.jsx";
import ThemeToggle from "./themeToggleButton.jsx";
import DropdownMenu from "./DropdownMenu.tsx";

const homeUrl: URL = new URL("/", Astro.url);
const aboutUrl: URL = new URL("/about", Astro.url);
const contactUrl: URL = new URL("/contact", Astro.url);
const projectUrl: URL = new URL("/projects", Astro.url);
const resume: URL = new URL("/resume", Astro.url);

type Page = {
  name: string;
  href: string;
}[];
const pages: Page = [
  { name: "Home", href: homeUrl.href },
  { name: "About", href: aboutUrl.href },
  { name: "Projects", href: projectUrl.href },
  { name: "Resume", href: resume.href },
  { name: "Contact", href: contactUrl.href },
];
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a class="link" href="/">
        <h2
          class="flex font-bold -tracking-tighter p-2 font-jetbrains text-lg items-center content-center gap-1"
        >
          <MemoryChip />
          BK:DEV
        </h2>
      </a>
      <div id="links" class="items-center gap-6 hidden md:flex">
        {
          pages.map((page) => (
            <a class="link" href={page.href}>
              {page.name}
            </a>
          ))
        }
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:visible />

      <DropdownMenu pages={pages} client:visible />
    </nav>
  </div>
</header>

<style>
  a {
    display: inline-flex;
    font-family: "M PLUS Rounded 1c", sans-serif;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-decoration: none;
    align-items: center;
    gap: 4px;
  }

  /* @media (max-width: 640px) {
    nav{
      flex-direction: column;
    }
    #links {
      font-size: smaller;
      display: none;
    }
  } */
</style>
