---
import { IoLogoGithub, IoLogoLinkedin } from "react-icons/io";
import MemoryChip from "./icons/memoryChip.jsx";
import ThemeToggle from "./themeToggleButton.jsx";
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav id="nav" class="flex items-center gap-3 text-base">
      <a class="link" href="/">
        <h2
          class="flex font-bold -tracking-tighter p-2 font-jetbrains text-lg items-center content-center gap-1"
        >
          <MemoryChip />
          BK:DEV
        </h2>
      </a>
      <div id="links" class="items-center gap-6  hidden md:flex">
        <a class="link" href="/projects/"> Portfolio</a>
        <a class="link" href="/about/"> About</a>
        <a class="link" href="/contact/"> Contact</a>
       
        <div class="flex-1"></div>
        <ThemeToggle client:load />
      </div>
    </nav>
  </div>
  <div class="flex-1"></div>
</header>

<style>
  a {
    display: inline-flex;
    font-family: "M PLUS Rounded 1c", sans-serif;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-decoration: none;
    gap: 4px;
  }

  /* @media (max-width: 640px) {
    nav{
      flex-direction: column;
    }
    #links {
      font-size: smaller;
      display: none;
    }
  } */
</style>
